body {
  background-color: #2a3b40;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.left {
  flex: 50%;
  display: flex;
  background-color: tomato;
  justify-content: start;
  /* padding: 10px; */
  flex-direction: row;
}
.left-text {
  /* flex: 20%; */
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: turquoise;
}
.right {
  flex: 50%;
  display: flex;
  justify-content: end;
  /* padding: 10px; */
  background-color: rgb(198, 219, 127);
}

.right-text {
  /* flex: 20%; */
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: rgb(162, 177, 175);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* text-align: center; */
  position: relative;
}
.main-nav {
  /* flex: 100%; */
  width: 100%;
  display: flex;
  background-color: transparent;
  position: absolute;
}
.navbar-logo {
  background-color: transparent;
  padding: 20px;
  background-color: transparent;
  flex: 30%;
  padding: 20 px;
  font-size: 31px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: cursive;
  color: white;
  text-align: end;
}
.navbar-main-text {
  flex: 70%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
}
.navbar-text {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.head-image {
  width: 100%;
}
.head-image img {
  object-fit: cover;
  width: 100%;
  background-size: 100% 100%;
}

.image-center-text {
  position: absolute;
}

/* .navbar-text {
  flex: 10%;
  padding: 10px;
  justify-content: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 23px;
  font-family: cursive;
  font-weight: 400;
} */

.img {
  flex: 100%;
  /* height: 100vh; */
  /* background-color: violet;
    background-size: 100%;
    background-position:center;
    background: cover; */

  /* min-height: 800px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.traditional {
  display: flex;
  flex: 100%;
  justify-content: center;
  background-color: transparent;
  padding: 78px;
  background-color: #2a3b40;
}

.traditional-text {
  flex: 50%;
  color: white;
  padding: 74px;
  text-align: start;
}
.traditional-image {
  flex: 50%;
  background-color: #2a3b40;
  display: flex;
  align-items: center;
  justify-content: center;
}
.traditional-image img {
  /* width: 100%; */
}

.third-row {
  display: flex;
  flex: 100%;
  background-color: rgb(242 242 242);
  /* opacity: 0.1; */
  order: 3;
  justify-content: space-evenly;
  color: #2a3b40;
  padding: 90px;
}

.col-one {
  padding: 28.1px;
  text-align: start;
  flex: 100%;
}

.col-two {
  flex: 100%;

  padding: 28.1px;
  text-align: start;
}
.col-three {
  padding: 28.1px;
  flex: 100%;

  text-align: start;
}

.ellipse-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ellipse {
  background-color: #2a3b40;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 2px;
}

.menu {
  background-color: #2a3b40;
  display: flex;
  flex: 100%;
  align-items: center;
  padding: 100px;
  justify-content: center;
}
.menu-child {
  background-color: rgb(243, 243, 243);
  opacity: 0.7;
  flex: 100%;
  justify-content: space-evenly;
}
.grand-child-head {
  background-color: transparent;
}
.grand-child-head h1 {
  font-size: 45px;
  font-family: sans-serif;
}
.grand-child-head h2 {
  font-size: 45px;
  color: #ad6c12;
}
.grand-child-content {
  flex-direction: row;
  display: flex;
  gap: 10px;
  background-color: transparent;
  padding: 10px;
  flex-wrap: wrap;
}
.card {
  flex: 20%;
  padding: 22px;
  text-align: center;
  background-color: transparent;
}
.cuisine-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #2a3b40;
  position: relative;
  height: 400px;
}

.cuisine-left {
  flex: 50%;
  display: flex;
  background-color: transparent;
  justify-content: start;
  /* padding: 10px; */
  flex-direction: row;
}

.cuisine-right {
  flex: 50%;
  display: flex;
  justify-content: end;
  /* padding: 10px; */
  background-color: transparent;
}
.cuisine-row2 {
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 400px;
  color: #2a3b40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuisine-row img {
  height: 400px;
}
.cuisine-row-text {
  /* flex: 50%; */
  width: 50%;
  /* padding: 10px; */
  background-color: transparent;
}
.ellipse-main-cuisine {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.cuisine-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cuisine-text {
  /* flex: 20%; */
  width: 12%;

  /* padding: 21px; */
}

@media (max-width: 1024px) {
  .traditional-image img {
    width: 100%;
  }
  .grand-child-content {
    flex-direction: row;
    display: flex;
    grid-gap: 1px;
    gap: 1x;
    background-color: turquoise;
    padding: 1px;
  }
  .card {
    padding: 10px;
  }
  .menu {
    padding: 39px;
  }
  .third-row {
    padding: 24px;
  }
  .traditional {
    padding: 27px;
  }
  .traditional-text {
    padding: 50px;
  }
}

@media (max-width: 893px) {
  .menu {
    background-color: #2a3b40;
    display: flex;
    flex: 100%;
    align-items: center;
    /* padding: 100px; */
    justify-content: center;
  }
  .menu-child {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    flex: 100%;
    justify-content: space-evenly;
  }
  .grand-child-head {
    background-color: blueviolet;
  }
  .grand-child-content {
    flex-direction: row;
    display: flex;
    gap: 0px;
    background-color: turquoise;
    padding: 0px;
  }
  .card {
    /* flex: 100%; */
    width: 50%;
    padding: 2px;
    text-align: center;
    background-color: violet;
  }

  .cuisine-row img {
    width: 100%;
  }
}

@media (max-width: 745px) {
  .grand-child-content {
    gap: 3px;
    padding: 2px;
  }
  .card {
    flex: 40%;
    /* gap: 10px; */
    /* padding: 10px; */
  }
  .cuisine-row img {
    height: 300px;
  }
  .cuisine-row2 {
    height: 300px;
  }
  .ellipse-main-cuisine {
    padding: 13px;
  }
}

@media (max-width: 666px) {
  .flex-row {
    flex-direction: column;
  }
  .main-nav {
    flex-direction: column;
    /* width: 200px; */
    /* flex: 100%; */
  }
  .navbar-main-text {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .third-row {
    flex-direction: column;
  }
  .navbar-logo {
    text-align: center;
  }
  /* .traditional {
    flex: 100%;
  } */
  .traditional {
    flex-direction: column;
    padding: 20px;
  }
  .traditional-text {
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 466px) {
  .grand-child-content {
    gap: 1px;
    padding: 9px;
  }
  .card {
    flex: 50%;
  }
}
