body {
  background-color: #2a3b40;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.left {
  flex: 50%;
  display: flex;
  background-color: tomato;
  justify-content: start;
  flex-direction: row;
}
.left-text {
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: turquoise;
}
.right {
  flex: 50%;
  display: flex;
  justify-content: end;
  background-color: rgb(198, 219, 127);
}

.right-text {
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: rgb(162, 177, 175);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}
.main-nav {
  width: 100%;
  display: flex;
  background-color: transparent;
  position: absolute;
  z-index: 9;
  position: fixed;
  transition: all 0.5s ease 0.2s;
}

.navbar-logo {
  background-color: transparent;
  padding: 20px;
  background-color: transparent;
  flex: 30%;
  padding: 20 px;
  font-size: 31px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: cursive;
  color: white;
  text-align: end;
  font-family: Raleway-VariableFont_wght;
}
.navbar-main-text {
  flex: 70%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
  font-family: Raleway-VariableFont_wght;
}
.navbar-text {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.navbar-text a:hover {
  color: #d58516;
  transition: 0.4s;
}
.navbar-text a {
  text-decoration: none;
  display: block;
  color: white;
}

.head-image {
  width: 100%;

  position: relative;
}
.head-image img {
  object-fit: cover;
  width: 100%;
  background-size: 100% 100%;
}
.top_center_box {
  background-color: transparent;
  width: 100%;
  position: absolute;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.top_center_content {
  width: 50%;
  background-color: azure;
  opacity: 0.8;
  text-align: center;
  padding: 18px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.center_width {
  width: 100%;
}
.text_head h1 {
  margin: 0;
  font-family: Cookie-Regular, serif;
  font-size: 80px;
  font-weight: 300;
  color: #2a3b40;
}
.text_head h2 {
  margin: 0;
  font-family: Raleway-VariableFont_wght;
  font-size: 70px;
  color: #d58516;
}
.top_center_button {
  margin: 0;
}
.text_head button {
  padding: 5px;
  width: 46%;
  border: 0;
  background: white;
  font-size: 30px;
}
.text_head button:focus {
  outline: 0;
}
.img {
  flex: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.traditional {
  display: flex;
  flex: 100%;
  justify-content: center;
  background-color: transparent;
  padding: 78px;
  background-color: #2a3b40;
}

.traditional-text {
  flex: 50%;
  color: white;
  padding: 74px;
  text-align: start;
}
.traditional-image {
  flex: 50%;
  background-color: #2a3b40;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-row {
  display: flex;
  flex: 100%;
  background-color: rgb(242 242 242);
  order: 3;
  justify-content: space-evenly;
  color: #2a3b40;
  padding: 90px;
}

.col-one {
  padding: 28.1px;
  text-align: start;
  flex: 100%;
}

.col-two {
  flex: 100%;

  padding: 28.1px;
  text-align: start;
}
.col-three {
  padding: 28.1px;
  flex: 100%;
  text-align: start;
}
.ellipse-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ellipse {
  background-color: #2a3b40;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 2px;
}

.menu {
  background-color: #2a3b40;
  display: flex;
  flex: 100%;
  align-items: center;
  padding: 100px;
  justify-content: center;
}
.menu-child {
  background-color: rgb(243, 243, 243);
  opacity: 0.9;
  flex: 100%;
  justify-content: space-evenly;
}
.grand-child-head {
  opacity: 0.9;
  background-color: rgb(243, 243, 243);
}
.grand-child-head h1 {
  font-size: 60px;
  font-family: Cookie-Regular;
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: 200;
}
.grand-child-head h2 {
  margin-top: 0;
  font-size: 45px;
  color: #ad6c12;
  font-family: Raleway-VariableFont_wght;
}
.grand-child-content {
  flex-direction: row;
  display: flex;
  background-color: rgb(243, 243, 243);
  flex-wrap: wrap;
  align-items: center;
}
.card {
  flex: 20%;
  text-align: center;
  background-color: rgb(243, 243, 243);
  color: #2a3b40;
}
.card h3 {
  text-transform: uppercase;
}
.card img {
  width: 100%;
  height: 100%;
}
.cuisine-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #2a3b40;
  position: relative;
  height: 400px;
}

.cuisine-left {
  flex: 50%;
  display: flex;
  background-color: transparent;
  justify-content: start;
  flex-direction: row;
}

.cuisine-right {
  flex: 50%;
  display: flex;
  justify-content: end;
  background-color: transparent;
}
.cuisine-row2 {
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 400px;
  color: #2a3b40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuisine-row img {
  height: 400px;
}
.cuisine-row-text {
  width: 50%;
  background-color: transparent;
}
.cuisine-row-text p {
  font-size: 25px;
  font-family: Raleway-VariableFont_wght;
}
.ellipse-main-cuisine {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.cuisine-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cuisine-text {
  width: 12%;
}
.new-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.new-menu-row1 {
  width: 100%;
  background-repeat: "no-repeat";
  object-fit: "cover";
  background-size: "100% 100%";
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.new-menu-row1 img {
  width: 100%;
}
.new-menu-content-row {
  background-color: transparent;
  position: absolute;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.new-menu-head {
  flex: 100%;
  background: #d7d7d7;
  opacity: 0.93;
}
.new-menu-content {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
.new-menu-content-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}
.new-menu-head h1 {
  margin-bottom: 0;
  font-weight: 500;
  color: #2a3b40;
  font-family: Cookie-Regular;
  font-size: 68px;
}
.new-menu-head h2 {
  margin-top: 0;
  font-size: 45px;
  color: #e79300;
  font-family: Raleway-VariableFont_wght;
}
.end_main_image {
  width: 100%;
  background-repeat: "no-repeat";
  object-fit: "cover";
  background-size: "100% 100%";
}
.end_main_image img {
  width: 100%;
}
.booking_box {
  background-color: #2a3b40;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0px;
}
.booking_forms {
  padding: 15px 0px;
}
.booking_col {
  width: 30%;
  padding: 10px;
  text-align: start;
}
.booking_label h4 {
  margin: 0;
  font-size: 22px;
  padding: 9px 0px;
  color: white;
}
.booking_input input:focus {
  outline: 0px;
}
.booking_input input::placeholder {
  color: white;
}
.booking_input {
  width: 100%;
}
.booking_input input {
  width: 70%;
  font-size: 18px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: transparent;
  padding: 10px;
  font-weight: 700;
  color: white;
}
.booking_head {
  width: 100%;
  text-align: center;
}
.booking_text {
  font-size: 31px;
  color: white;
  font-family: cursive;
}
.booking_text h1 {
  margin: 0;
  font-family: Cookie-Regular, serif;
  font-weight: 100;
  font-size: 80px;
}
.booking_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.booking_button {
  padding: 20px 0px;
  width: 30%;
  text-align: start;
}
.booking_row button {
  width: 75%;
  border: 3px solid white;
  background: transparent;
  border-radius: 12px;
  padding: 5px;
  font-size: 22px;
  color: white;
  font-weight: 700;
}
.discover_box {
  background-color: #dfdfdf;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 30px;
}
.discover_card {
  width: 25%;
  background-color: rgb(255, 255, 255);
}
.discover_card_image {
  width: 100%;
  background-repeat: "no-repeat";
  object-fit: "cover";
  background-size: "100% 100%";
}
.discover_card_image img {
  width: 100%;
}
.discover_card_content {
  padding: 0px 20px;
}
.discover_card_content h3,
p {
  margin: 0;
}
.discover_card_content button {
  border: 0px;
  padding: 28px 0px;
  background-color: transparent;
  text-decoration: underline 6px #e79300;
  font-size: medium;
  font-weight: 800;
}
.discover_head {
  width: 100%;
}
.discover_tile {
  text-align: center;
}
.discover_tile h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 200;
  font-family: Cookie-Regular, serif;
  color: #2a3b40;
}
.discover_tile h2 {
  font-size: 54px;
  margin: 0;
  color: #d58516;
  font-family: Raleway-VariableFont_wght;
}
.social_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  padding: 30px;
}
.social_head {
  width: 70%;
  color: white;
  text-align: center;
  padding: 25px;
}
.social_content {
  width: 40%;
  text-align: center;
  color: white;
  font-size: 22px;
}
.social_name {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.social_icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #dfdfdf;
  justify-content: center;
}
.footer_content {
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-family: Raleway-VariableFont_wght;
}
.footer_col {
  width: 15%;
}
.footer_col_main {
  width: 30%;
  padding: 100px;
}
.footer_child h2 {
  margin: 0;
  font-family: Raleway-VariableFont_wght;
  font-weight: 300;
}
.footer_child p {
  font-size: 23px;
  font-family: Raleway-VariableFont_wght;
}
.menu_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 20px 80px;
  background: #d7d7d7;
  opacity: 0.93;
}
.menu_col {
  width: 50%;
}
.content_box h4 {
  padding-bottom: 10px;
}
.content_box h4,
.content_box p {
  margin: 0;
  text-align: left;
}
.content_box {
  padding-left: 20px;
}
.icon_box {
  height: 70px;
  width: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 10px;
  justify-content: center;
}
.new-menu-content-child {
  justify-content: center;
}
.navbar_main {
  width: 100%;
  display: none;
  background-color: #2a3b40;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.navbar_menu_button {
  padding: 15px;
}
.navbar_menu_button button {
  width: 50px;
  height: 50px;
  border: 0;
  background: transparent;
  border: 2px solid white;
  border-radius: 3px;
}
.navbar_menu_button button img {
  width: 35px;
  height: 46px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.9s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media (max-width: 1272px) {
  .menu_row {
    padding: 0px 0px;
  }
}
@media (max-width: 1113px) {
  .new-menu-content-child {
    padding: 10px;
  }
}
@media (max-width: 1024px) {
  .traditional-image img {
    width: 100%;
  }
  .grand-child-content {
    flex-direction: row;
    display: flex;
    gap: 0px;
    padding: 0px;
  }
  .card {
    padding: 10px;
  }
  .menu {
    padding: 39px;
  }
  .third-row {
    padding: 24px;
  }
  .traditional {
    padding: 27px;
  }
  .traditional-text {
    padding: 50px;
  }
  .icon_box {
    padding: 4px;
  }
  .new-menu-content-child {
    padding: 5px;
  }
  .content_box h4,
  .content_box p {
    text-align: center;
  }
  .discover_box {
    padding: 15px;
  }
  .discover_card {
    width: 30%;
  }
  .top_center_box {
    height: 600px;
    align-items: flex-end;
  }
  .top_center_content {
    width: 70%;
  }
  .content_box {
    padding-left: 0px;
  }
}
@media (max-width: 947px) {
  .new-menu-content-row {
    position: relative;
  }
  .new-menu-content-child {
    padding: 33px;
  }
  .new-menu-row1 {
    display: none;
  }
  .social_content {
    width: 90%;
  }
}
@media (max-width: 893px) {
  .menu {
    background-color: #2a3b40;
    display: flex;
    flex: 100%;
    align-items: center;
    justify-content: center;
  }
  .menu-child {
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    flex: 100%;
    justify-content: space-evenly;
  }

  .grand-child-content {
    flex-direction: row;
    display: flex;
    gap: 0px;
    padding: 0px;
  }

  .card {
    width: 50%;
    padding: 0px;
    text-align: center;
  }

  .cuisine-row img {
    width: 100%;
  }
  .footer_col_main {
    padding: 50px;
  }
  .top_center_box {
    height: 500px;
  }
  .navbar-logo {
    text-align: center;
    flex: 15%;
  }
  .top_center_content {
    width: 100%;
  }
}

@media (max-width: 745px) {
  .grand-child-content {
    gap: 3px;
    padding: 2px;
  }
  .card {
    flex: 40%;
  }
  .cuisine-row img {
    height: 300px;
  }
  .cuisine-row2 {
    height: 300px;
  }
  .ellipse-main-cuisine {
    padding: 13px;
  }
  .discover_card {
    width: 70%;
  }
  .booking_col {
    width: 100%;
    text-align: center;
  }
  .booking_row button {
    width: 80%;
    border-radius: 15px;
  }
  .menu {
    background-color: #2a3b40;
    background-repeat: no-repeat;
  }
  .main-nav {
    display: none;
  }
  .navbar_main {
    display: block;
  }
  .top_center_box {
    height: 460px;
  }
  .top_center_content {
    height: 300px;
  }
  .cuisine-row-text p {
    font-size: 18px;
    font-family: Raleway-VariableFont_wght;
  }
}

@media (max-width: 666px) {
  .flex-row {
    flex-direction: column;
  }
  .main-nav {
    flex-direction: column;
  }
  .navbar-main-text {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .third-row {
    flex-direction: column;
  }
  .navbar-logo {
    text-align: center;
  }
  .traditional {
    flex-direction: column;
    padding: 20px;
  }
  .traditional-text {
    padding: 10px;
    text-align: center;
  }

  .menu_col {
    width: 100%;
  }
  .content_box h4,
  .content_box p {
    text-align: start;
  }
  .footer_col_main {
    width: 100%;
    text-align: center;
  }
  .footer_col {
    width: 30%;
    text-align: center;
  }
  .top_center_content {
    height: fit-content;
  }
  .top_center_box {
    align-items: center;
  }
}
@media (max-width: 571px) {
  .content_box h4,
  .content_box p {
    padding-top: 5px;
    text-align: center;
  }
  .icon_box {
    height: 58px;
    width: 58px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: center;
  }
  .social_icons {
    gap: 20px;
    justify-content: center;
    padding: 25px;
  }
  .text_head button {
    font-size: 24px;
  }
  .text_head h2 {
    font-size: 45px;
  }
  .text_head h1 {
    font-size: 60px;
  }
}

@media (max-width: 466px) {
  .grand-child-content {
    gap: 1px;
    padding: 9px;
  }
  .cuisine-row2 {
    height: 400px;
  }
  .card {
    flex: 50%;
  }
  .top_center_box {
    height: 400px;
  }
}
@media (max-width: 427px) {
  .top_center_box {
    height: 375px;
  }
}
@media (max-width: 369px) {
  .text_head h1 {
    font-size: 40px;
  }
  .text_head h2 {
    font-size: 24px;
  }
  .text_head button {
    font-size: 15px;
  }
  .top_center_box {
    height: 340px;
  }
}
