body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Cookie-Regular";
  src: local("Cookie-Regular"),
    url(./fonts/Cookie-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Raleway-VariableFont_wght";
  src: local("Raleway-VariableFont_wght"),
    url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}
Raleway-VariableFont_wght code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
